@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'utils';

/// Variables
$-var-suffix-hue: '-h';
$-var-suffix-saturation: '-s';
$-var-suffix-lightness: '-l';
$-var-suffix-alpha: '-a';

/// Theme colors
$colors: (
  'primary': #f56565,
  'secondary': #ed8936,
  'text': black,
  'background': white,
);

/// Color tints
$-color-tint-step: 10%;
$color-tints: (
  '100': (4 * $-color-tint-step),
  '200': (3 * $-color-tint-step),
  '300': (2 * $-color-tint-step),
  '400': (1 * $-color-tint-step),
  '500': (0 * $-color-tint-step),
  '600': (-1 * $-color-tint-step),
  '700': (-2 * $-color-tint-step),
  '800': (-3 * $-color-tint-step),
  '900': (-4 * $-color-tint-step)
);

/// Returns the CSS variable name for the
/// hue channel of a defined named color.
///
/// @param {string} $name The name of the color.
/// @returns The variable name.
@function var-name-hue($name) {
  @return utils.var-name($name: #{$name}#{$-var-suffix-hue});
}

/// Returns the CSS variable name for the
/// saturation channel of a defined named color.
///
/// @param {string} $name The name of the color.
/// @returns The variable name.
@function var-name-saturation($name) {
  @return utils.var-name($name: #{$name}#{$-var-suffix-saturation});
}

/// Returns the CSS variable name for the
/// lightness channel of a defined named color.
///
/// @param {string} $name The name of the color.
/// @returns The variable name.
@function var-name-lightness($name) {
  @return utils.var-name($name: #{$name}#{$-var-suffix-lightness});
}

/// Returns the CSS variable name for the
/// alpha channel of a defined named color.
///
/// @param {string} $name The name of the color.
/// @returns The variable name.
@function var-name-alpha($name) {
  @return utils.var-name($name: #{$name}#{$-var-suffix-alpha});
}

/// Returns the `var(...)' color expression for the
/// hue channel of a defined named color.
///
/// @param {string} $name The name of the color.
/// @param {number} $offset A offset to be applied to the value.
/// @returns The custom variable expression.
@function read-color-hue($name, $offset: 0deg) {
  @return utils.add(var(#{var-name-hue($name)}), $offset);
}

/// Returns the `var(...)' color expression for the
/// saturation channel of a defined named color.
///
/// @param {string} $name The name of the color.
/// @param {number} $offset A offset to be applied to the value.
/// @returns The custom variable expression.
@function read-color-saturation($name, $offset: 0%) {
  @return utils.add(var(#{var-name-saturation($name)}), $offset);
}

/// Returns the `var(...)' color expression for the
/// lightness channel of a defined named color.
///
/// @param {string} $name The name of the color.
/// @param {number} $offset A offset to be applied to the value.
/// @returns The custom variable expression.
@function read-color-lightness($name, $offset: 0%) {
  @return utils.add(var(#{var-name-lightness($name)}), $offset);
}

/// Returns the `var(...)' color expression for the
/// alpha channel of a defined named color.
///
/// @param {string} $name The name of the color.
/// @param {number} $offset A offset to be applied to the value.
/// @returns The custom variable expression.
@function read-color-alpha($name, $offset: 0) {
  @return utils.add(var(#{var-name-alpha($name)}), $offset);
}

/// Returns the `hsl(...)' color expression for a
/// defined named color.
///
/// @param {string} $name The name of the color.
/// @returns The HSL color expression.
@function read-color-hsl($name, $hue: 0deg, $saturation: 0%, $lightness: 0%) {
  @return hsl(
    read-color-hue($name, $offset: $hue),
    read-color-saturation($name, $offset: $saturation),
    read-color-lightness($name, $offset: $lightness)
  );
}

/// Returns the `hsla(...)' color expression for a
/// defined named color.
///
/// @param {string} $name The name of the color.
/// @returns The HSLA color expression.
@function read-color-hsla($name, $hue: 0deg, $saturation: 0%, $lightness: 0%, $alpha: 0) {
  @return hsla(
    read-color-hue($name, $offset: $hue),
    read-color-saturation($name, $offset: $saturation),
    read-color-lightness($name, $offset: $lightness),
    read-color-alpha($name, $offset: $alpha)
  );
}

@mixin rules($vendor-prefix: '') {
  utils.$vendor-prefix: $vendor-prefix;

  @at-root {
    :root {
      @each $name, $color in $colors {
        #{var-name-hue($name)}: #{color.hue($color)};
        #{var-name-saturation($name)}: #{color.saturation($color)};
        #{var-name-lightness($name)}: #{color.lightness($color)};
        #{var-name-alpha($name)}: #{color.alpha($color)};
      }
    }
  }

  @each $name, $color in $colors {
    #{utils.class-name('bg-#{$name}')} {
      background-color: $color;
      background-color: read-color-hsla($name);
    }

    @each $tint-name, $tint-value in $color-tints {
      #{utils.class-name('bg-#{$name}-#{$tint-name}')} {
        background-color: color.adjust($color, $lightness: $tint-value);
        background-color: read-color-hsla($name, $lightness: $tint-value);
      }
    }
  }
}
