@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'css-vars';
@use 'utils';

/// Internal Variables
$-var-suffix-hue: '-h';
$-var-suffix-saturation: '-s';
$-var-suffix-lightness: '-l';
$-var-suffix-alpha: '-a';

/// Base Colors
$base-colors: (
  'black': hsl(0deg, 0%, 0%),
  'gray': hsl(0deg, 0%, 50%),
  'white': hsl(0deg, 0%, 100%),
  'red': hsl(-20deg, 75%, 55%),
  'yellow': hsl(40deg, 85%, 55%),
  'green': hsl(100deg, 75%, 55%),
  'aqua':  hsl(160deg, 85%, 55%),
  'blue': hsl(220deg, 75%, 55%),
  'fuchsia': hsl(280deg, 85%, 55%),
) !default;

/// Theme colors
$colors: (
  'primary': purple,
  'secondary': cyan,
) !default;

/// Color tints
$color-tints: (
  '1': 80%,
  '2': 50%,
  '3': 30%,
  '4': 15%,
  '5': 0,
  '6': -15%,
  '7': -30%,
  '8': -50%,
  '9': -80%
) !default;

/// All colors combined
$all-colors: map.merge(
  map.merge(
    ('white': white, 'black': black),
    $base-colors
  ),
  $colors
);

/// Returns the CSS variable name for the
/// hue channel of a defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @returns {string}
///   The variable name.
@function var-name-hue($name) {
  @return css-vars.variable-name($name: #{$name}#{$-var-suffix-hue});
}

/// Returns the CSS variable name for the
/// saturation channel of a defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @returns {string}
///   The variable name.
@function var-name-saturation($name) {
  @return css-vars.variable-name($name: #{$name}#{$-var-suffix-saturation});
}

/// Returns the CSS variable name for the
/// lightness channel of a defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @returns {string}
///   The variable name.
@function var-name-lightness($name) {
  @return css-vars.variable-name($name: #{$name}#{$-var-suffix-lightness});
}

/// Returns the CSS variable name for the
/// alpha channel of a defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @returns {string}
///   The variable name.
@function var-name-alpha($name) {
  @return css-vars.variable-name($name: #{$name}#{$-var-suffix-alpha});
}

/// Returns the `var(...)' color expression for the
/// hue channel of a defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @returns {string}
///   The custom variable expression.
@function read-color-hue($name) {
  @return var(#{var-name-hue($name)});
}

/// Returns the `var(...)' color expression for the
/// saturation channel of a defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @returns {string}
///   The custom variable expression.
@function read-color-saturation($name) {
  @return var(#{var-name-saturation($name)});
}

/// Returns the `var(...)' color expression for the
/// lightness channel of a defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @returns {string}
///   The custom variable expression.
@function read-color-lightness($name) {
  @return var(#{var-name-lightness($name)});
}

/// Returns the `var(...)' color expression for the
/// alpha channel of a defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @returns {string}
///   The custom variable expression.
@function read-color-alpha($name) {
  @return var(#{var-name-alpha($name)});
}

/// Returns the `hsl(...)' color expression for a
/// defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @param {number} $tint
///   (Optional) The amount of tint to be applied.
/// @param {number} $shade
///   (Optional) The amount of shade to be applied.
/// @returns {string}
///   The HSL color expression.
@function read-color-hsl($name, $tint: null, $shade: null) {
  $lightness: read-color-lightness($name);
  @if $tint != null {
    $lightness: utils.lerp($lightness, color.lightness(map.get($all-colors, 'white')), $amount: $tint);
  } @else if $shade != null {
    $lightness: utils.lerp($lightness, color.lightness(map.get($all-colors, 'black')), $amount: $shade);
  }
  @return hsl(read-color-hue($name), read-color-saturation($name), $lightness);
}

/// Returns the `hsla(...)' color expression for a
/// defined named color.
///
/// @param {string} $name
///   The name of the color.
/// @param {number} $tint
///   (Optional) The amount of tint to be applied.
/// @param {number} $shade
///   (Optional) The amount of shade to be applied.
/// @returns {string}
///   The HSLA color expression.
@function read-color-hsla($name, $tint: null, $shade: null) {
  $lightness: read-color-lightness($name);
  @if $tint != null {
    $lightness: utils.lerp($lightness, color.lightness(map.get($all-colors, 'white')), $amount: $tint);
  } @else if $shade != null {
    $lightness: utils.lerp($lightness, color.lightness(map.get($all-colors, 'black')), $amount: $shade);
  }
  @return hsla(read-color-hue($name), read-color-saturation($name), $lightness, read-color-alpha($name));
}

/// Style rules
@mixin rules {

  @at-root {
    :root {
      @each $name, $color in $all-colors {
        #{var-name-hue($name)}: #{color.hue($color)};
        #{var-name-saturation($name)}: #{color.saturation($color)};
        #{var-name-lightness($name)}: #{color.lightness($color)};
        #{var-name-alpha($name)}: #{color.alpha($color)};
      }
    }
  }
}
